.PMC {
    width: 93%;
    height: 27rem;
    margin: auto;
    align-items: center;
    /* background:#FFF; */
    overflow: hidden;
}

.PMCH {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.PMCH h5 {
    color: var(--light-text-link-color-green, #237943);

    /* Heading/H6 Bold */
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 21.6px */
    letter-spacing: 0.09px;
}

.react-multiple-carousel__arrow {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    color: #C00707;
}

.Product_Details {
    width: 12rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-shrink: 0;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #FFF;
    box-shadow: 0px 24px 64px 0px rgba(58, 58, 67, 0.16);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin: auto;
    margin-right: 0%;
}

.Product_Image {
    width: 90%;
    /* height: 12rem; */
    display: block;
    justify-content: center;

}

.Product_Image img {
    width: 100%;
    height: 10rem;
    transition: filter 0.3s ease-in-out;
}

.Product_Image img:hover {
    filter: brightness(1.1);
    /* Adjust the brightness value as needed */
    transform: scale(1.1);
}

.Product_Image h6 {
    color: var(--light-text-link-color-green, #237943);

    /* Heading/H6 Bold */
    font-family: Mulish;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 1.35rem */
    letter-spacing: 0.00563rem;
    margin: 5%;
}

.Product_Image h4 {
    color: var(--light-text-color-title, #29292E);

    /* Body/Body 1 Semibold */
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 1.2rem */
    letter-spacing: 0.005rem;
    margin: 5%;
}

.Product_Image button {
    border-radius: 0.5rem;
    background: #C00707;
    display: flex;
    width: 10rem;
    height: 2.5625rem;
    padding: 0.75rem 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    color: #FFF;
    border: none;
    justify-content: center;
    color: var(--light-text-link-color-white, #FFF);
    text-align: center;
    cursor: pointer;

    /* Menu/Menu 2 Bold */
    font-family: Mulish;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    /* 1.05rem */
    letter-spacing: 0.0040rem;
    margin: 3%;
}

.PMC h3 {
    color: var(--light-text-color-title, #29292E);

    /* Heading/H4 Bold */
    font-family: Mulish;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 2.325rem */
    letter-spacing: 0.00969rem;
    padding: 0 20px;
}

.Product_Title {
    white-space: nowrap;
}

/* Media query for screens below 768px */
@media (max-width: 768px) {
    .PMC {
        margin: auto;
        height: auto;
        width: 100%;
    }

    .Product_Details {
        width: 93%;
        height: auto;
        align-items: center;
    }

    .Product_Image img {
        height: 7rem;
    }

    .Product_Image h6,
    .Product_Image h4,
    .Product_Image button {
        margin: 2%;
    }

    .Product_Image button {
        width: 93%;
        height: 2rem;
        white-space: nowrap;
        font-family: Mulish;
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
    }


    .PMC h3 {
        font-size: 1.1rem;
    }

    .react-multiple-carousel__arrow {
        display: none;
    }

    .react-multi-carousel-track {
        transition-duration: 0.3s !important;
        /* Adjust the duration as needed */
        transition-timing-function: linear !important;
        /* Use a linear timing function for immediate response */
        transform-style: preserve-3d;
    }


}